@use "vars" as vars

@mixin black-theme
	color: white
	background: vars.$dark-main-theme-background

@mixin title
	font-size: 75px
	font-weight: 600

@mixin subtitle
	font-size: 30px
	font-weight: 400
	color: vars.$light-grey-color

@mixin logo
	color: white
	font-weight: 800
	font-size: 37px

@mixin link
	color: vars.$dark-grey-color

@mixin medium-button
	padding: 23px 75px
	border-radius: 8px
	border: none
	font-weight: 500
	font-size: 20px

@mixin second-size-title
	font-size: 65px
	font-weight: 600
	text-align: center
