<h1 class='main__big-title'>
	Own your audience.
</h1>

<h1 class='main__title_gradient'>
	So you don't lose them.
</h1>

<div class='main__start-block'>
	<p class='main__start-block__title'>
		Turn your audience into email and
		text message subscribers.
	</p>

	<div class='main__buttons-container'>
		<app-blue-button [label]='"Get Started Now"'></app-blue-button>
		<app-grey-button [label]='"View A Demo"'></app-grey-button>
	</div>
	<div class='main__creators-line'>
		<app-icon [item]='"green-dot"'
		          [width]='29'
		          [height]='29'></app-icon>
		<b>1000+ </b>
		<span class='main__creators-line_text'>
			creators have already started
		</span>
	</div>
</div>

<div class='why-block'>
	<h2 class='h2-title'>
		Why Creators Love Marico
	</h2>
	<div class='why-block__subblocks'>
		<div>
			<p>
				Reduced Anxiety
			</p>
			<p>
				Never worry about losing your audience.
			</p>
		</div>

		<div>
			<p>
				Lower Workload
			</p>
			<p>
				Just share one link. We'll handle the rest.
			</p>
		</div>

		<div>
			<p>
				More Time
			</p>
			<p>
				Spend less time on marketing tools
			</p>
		</div>
	</div>
</div>
<p class='step-font'>
	Step 1
</p>

<h2 class='h2-title'>
	Connect Your Content
</h2>
<p class='p-undertitle-content'>
	Bring all of your content together and get a Homepage that
	automatically updates whenever you create anywhere online.
</p>

<div class='single-button__container'>
	<app-grey-button [label]='"View Avaliable Sources"'></app-grey-button>
</div>

<div class=''>
	<div>

	</div>

	<img>

</div>

