<header class='header__wrapper'>
	<div class='header'>
		<div class='header__logo'>
			<app-icon [width]='45'
			          [height]='42'
			          [item]='"logo"'>
			</app-icon>
			<a routerLink=''
			   class='header__logo_font'>
				Marico
			</a>
		</div>

		<nav class='nav'>

			<app-drop-down></app-drop-down>

			<app-animated-link path='/about'
			                   [name]='"About"'></app-animated-link>

			<app-animated-link path='/pricing'
			                   [name]='"Pricing"'></app-animated-link>

			<app-animated-link path='/blog'
			                   [name]='"Blog"'></app-animated-link>
		</nav>

		<div>
			<app-animated-link path='/login'
			                   [name]='"Login"'></app-animated-link>
			<a class='button__sign-up'
			   routerLink='/signup'>
				Sign Up
			</a>
		</div>

	</div>
</header>

